{% load static %}
{% include "includes/adminheader.html" %}
<style>
    .users-header {
        font-weight: bold;
        font-size: 30px;  
		
	}
	.dash-widget-icon {
		align-items: center;
		display: inline-flex;
		font-size: 5rem;
		height: 60px;
		justify-content: center;
		line-height: 50px;
		text-align: center;
		width: 60px;
		border: 5px solid;
		border-radius: 60px;
		padding: 55px;
	}
	</style>

	
	
	
	
 

					<div class="row">
						<div class="col-xl-3 col-sm-6 col-14">
							<div class="card ">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fe fe-users"></i>
										</span>
										<div class="dash-count">
											<h3>{{ user_count }}</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<a href="{% url 'total_user_list' %}"><h6 class="text-primary users-header">Users</h6></a>
										
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fe fe-users"></i>
										</span>
										<div class="dash-count">
											<h3>{{doc_count}}</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<a href="{% url 'doctor_list' %}"><h6 class="text-success users-header">Doctors</h6></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-warning border-warning">
											<i class="fe fe-users"></i>
										</span>
										<div class="dash-count">
											<h3>{{pat_count}}</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<a href="{% url 'patient_list' %}"><h6 class="text-warning users-header">Patients</h6></a>
										
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-info border-info">
											<i class="fe fe-layout"></i>
										</span>
										<div class="dash-count">
											<h3>{{ appoint_count }}</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<a href="{% url 'appointment_list' %}"><h6 class="text-info users-header">Appoinments</h6></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-6">
						
							<!-- Sales Chart -->
							
							<!-- /Sales Chart -->
							
						</div>
						<div class="col-md-12 col-lg-6">
						
							<!-- Invoice Chart -->
							
							<!-- /Invoice Chart -->
							
						</div>	
					</div>
					<div class="row">
						<div class="col-md-6 d-flex">
						
							<!-- Recent Orders -->
							
							<!-- /Recent Orders -->
							
						</div>
						<div class="col-md-6 d-flex">
						
							<!-- Feed Activity -->
							
							<!-- /Feed Activity -->
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						
							<!-- Recent Orders -->
							
							<!-- /Recent Orders -->
							
						</div>
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static '/admin/assets/js/jquery-3.2.1.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static '/admin/assets/js/popper.min.js'%}"></script>
        <script src="{% static '/admin/assets/js/bootstrap.min.js'%}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static '/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
		
		<script src="{% static '/admin/assets/plugins/raphael/raphael.min.js'%}"></script>    
		<script src="{% static '/admin/assets/plugins/morris/morris.min.js'%}"></script>  
		<script src="{% static '/admin/assets/js/chart.morris.js'%}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static '/admin/assets/js/script.js'%}"></script>
		
    </body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->
</html>