{% load static %}
{% include "includes/doc_header.html" %}
						<div class="col-md-7 col-lg-8 col-xl-9">
						<!-- doctor_profile_settings.html -->

								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="card">
										<div class="card-body">
										<div class="user-profile-form">
											<h3>Doctor Profile</h3>
											{% for field in user_form %}
												<div class="form-group">
													<div class="col-md-6">
														<label>{{ field.label_tag }} <span class="text-danger">*</span></label>
														{{ field }}
													</div>
													{% if field.errors %}
													<div class="error">{{ field.errors }}</div>
													{% endif %}
												</div>
										
										{% endfor %}

									</div>
									<div class="patient-profile-form">
										{% for field in doctor_form %}
											<div class="form-group">
												{{ field.label_tag }} {{ field }}
												{% if field.errors %}
													<div class="error">{{ field.errors }}</div>
												{% endif %}
											</div>
										{% endfor %}
									</div>
								</div>
								</div>
									<div class="card">
										<div class="card-body">
									<div class="patient-profile-form">
										<h3>Specialization</h3>
										 {% for field in specialization_form %}
											<div class="form-group">
												{{ field.label_tag }} {{ field }}
												{% if field.errors %}
													<div class="error">{{ field.errors }}</div>
												{% endif %}
											</div>
										{% endfor %} 
									</div>
								</div>
									</div>
									<div class="card">
										<div class="card-body">
									<div class="patient-profile-form">
										<h3>Qualification</h3>
										{% for field in qualification_form %}
											<div class="form-group">
												{{ field.label_tag }} {{ field }}
												{% if field.errors %}
													<div class="error">{{ field.errors }}</div>
												{% endif %}
											</div>
										{% endfor %}
									</div>
								</div>
								</div>
									<div class="card">
										<div class="card-body">
									<div class="patient-profile-form">
										<h3>Experience</h3>

										{% for field in experience_form %}
											<div class="form-group">
												{{ field.label_tag }} {{ field }}
												{% if field.errors %}
													<div class="error">{{ field.errors }}</div>
												{% endif %}
											</div>
										{% endfor %}
									</div>
								</div>
								</div>
									<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
								</form>
							</div>

							
						
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static '/assets/img/logo.png' %}" alt="logo">
									</div>
								</div>								
							</div>
							<div class="col-lg-3 col-md-6">
							</div>
							
							<div class="col-lg-3 col-md-6">								
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<p>
											<i class="fas fa-phone-alt"></i>
											7306741729
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
								</div>
							</div>
						</div>						
					</div>
				</div>
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static '/assets/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static '/assets/js/popper.min.js' %}"></script>
		<script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static '/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static '/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static '/assets/plugins/select2/js/select2.min.js' %}"></script>
		
		<!-- Dropzone JS -->
		<script src="{% static '/assets/plugins/dropzone/dropzone.min.js' %}"></script>
		
		<!-- Bootstrap Tagsinput JS -->
		<script src="{% static '/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js' %}"></script>
		
		<!-- Profile Settings JS -->
		<script src="{% static '/assets/js/profile-settings.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static '/assets/js/script.js' %}"></script>
		
	</body>

</html>