{% load static %}
<!DOCTYPE html> 
<html lang="en">

	
<!-- doccure/  30 Nov 2019 04:11:34 GMT -->
<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Medimingle</title>
		
		<!-- Favicons -->
		<!--<link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png'%}">-->
		<link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">

		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static '/assets/plugins/fontawesome/css/fontawesome.min.css'%}">
		<link rel="stylesheet" href="{% static '/assets/plugins/fontawesome/css/all.min.css'%}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static '/assets/css/style.css'%}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			{% load static %}
<!--Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a class="navbar-brand logo">
                <img src="{% static '/assets/img/logo.png'%}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a  class="menu-logo">
                    <img src="{% static '/assets/img/logo.png'%}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                
                
               
            </ul>		 
        </div>		 
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i style="color: white;" class="far fa-hospital"></i>							
                </div>
                <div class="header-contact-detail">
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'signin' %}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'register' %}">Register</a>
            </li>
        </ul>
    </nav>
</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="section section-search">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="banner-header text-center">
							<h1>MediMingle</h1>
							<h1>Make Health Better Together</h1>
						</div>
					 
						<!-- Search -->
						<div class="search-box">
							<form method="post" id="search-form">
								{% csrf_token %}
								<div class="col-lg-3 col-md-6" style="text-align: right;">
									<a href="{% url 'doc_suggest' %}" class="btn btn-primary">Discover Your Doctor</a>
								</div>
								<div class="form-group search-info">
									<input type="text" name="search_query" id="search-input" class="form-control" placeholder="Search Doctors">
									<div id="suggestions-container"></div>
								</div>
								<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
							</form>
							
						</div>
						{% if search_performed %}
						{% if doctors %}
						{% for doctor in doctors %}
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="{% url 'login'  %}">
													<img src="{{ doctor.profile_image.url }}" class="img-fluid" alt="{{ doctor.user.name }}">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="{% url 'login' %}">Dr.{{ doctor.user.first_name }} {{ doctor.user.last_name }}</a></h4>
												<p class="doc-speciality">
													{% for specialization in doctor.doctorspecialization_set.all %}
														{{ specialization.specialized_category }}
														{% if not forloop.last %}, {% endif %}
													{% endfor %}
												</p>
												<p><i class="fas fa-map-marker-alt"></i> {{ doctor.city }}</p>
												<p><i class="far fa-money-bill-alt"></i> {{ doctor.consulting_fee }}</p>
												<div class="rating">
													<!-- Display rating stars here -->
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											
											<div class="clinic-booking">
												<a class="view-pro-btn" href="{% url 'signin'  %}">View Profile</a>
												<a class="apt-btn" href="{% url 'signin'  %}">Book Appointment</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p>No records found.</p>
					{% endif %}

					{% endif %}
					</div>
					
					</div>
					
				</div>
			

			</section>
			<!-- /Home Banner -->
			  
			<!-- Clinic and Specialities -->
			<section class="section section-specialities">
				<div class="container-fluid">
					
					<div class="section-header text-center">
						<h2>Specialities</h2>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-9">
							<!-- Slider -->
							<div class="specialities-slider slider">
							
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/gynaecology.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>
									<p>Gynecology</p>
								</div>	
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/specialities-02.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>
									<p>Psychiatry</p>	
								</div>							
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/specialities-03.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Orthopedic</p>	
								</div>							
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/specialities-04.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Cardiologist</p>	
								</div>							
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/specialities-05.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Dentist</p>
								</div>							
								<!-- /Slider Item -->
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/eye.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Ophthalmology</p>
								</div>							
								<!-- /Slider Item -->
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/derm.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Dermatology</p>
								</div>							
								<!-- /Slider Item -->
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/pedia.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Pediatrics</p>
								</div>							
								<!-- /Slider Item -->
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="{% static '/assets/img/specialities/pulm.png'%}" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Pulmonology</p>
								</div>							
								<!-- /Slider Item -->
								
							</div>
							<!-- /Slider -->
							
						</div>
					</div>
				</div>   
			</section>	 
			<!-- Clinic and Specialities -->
		  
			<!-- Popular Section -->
			<section class="section section-doctor">
				<div class="container-fluid">
				   <div class="row">
						{% comment %} <div class="col-lg-4"> {% endcomment %}
							<div class="section-header ">
								<h2>Book Our Doctor</h2>
							</div>
							<div class="about-content">
								<h3>"MediMingle " aims to revolutionize the healthcare industry by offering a user-centric, efficient, and secure platform that bridges the gap between patients and 
									doctors. We stands as a testament to modern healthcare innovation, 
									offering a personalized approach to healthcare services in an increasingly digital 
									world.</h3>
									<div class="row row-sm">
										<a href="{% url 'doc_suggest' %}" class="btn btn-primary">Discover Your Doctor</a>
									</div>
								<!--<a href="javascript:;"></a>-->
							</div>
						</div>
						<div class="col-lg-8">
							<div class="doctor-slider slider">
							
								
							</div>
						</div>
				   </div>
				</div>
			</section>
			<!-- /Popular Section -->
		   
		   
			
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static '/assets/img/logo.png'%}" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Make Heathcare Better Together</p>
										
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
							
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										
										<p>
											<i class="fas fa-phone-alt"></i>
											7306741729
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											medimingle@gmail.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">MediMingle</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
	
		<script src="{% static '/assets/js/jquery.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static '/assets/js/popper.min.js'%}"></script>
		<script src="{% static '/assets/js/bootstrap.min.js'%}"></script>
		
		<!-- Slick JS -->
		<script src="{% static '/assets/js/slick.js'%}"></script>
		
		<!-- Custom JS -->
		<script src="{% static '/assets/js/script.js'%}"></script>
		
	</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->
</html>
<!--{% static '/'%} -->