{% load static %}
{% include "includes/pat_header.html" %}
							
						
						
						
											<div class="col-md-12 col-lg-6">
												<h2>Change Password</h2><br>
												{% if messages %}
													<ul class="messages">
														{% for message in messages %}
															<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
														{% endfor %}
													</ul>
												{% endif %}
											<!-- Change Password Form -->
											<form method="post">
												{% csrf_token %}
												<div class="form-group">
													<label for="current_password" required>Current Password</label>
													<input type="password" class="form-control" name="current_password" required>
												</div>
												<div class="form-group">
													<label for="new_password">New Password</label>
													<input type="password" class="form-control" name="new_password" required>
												</div>
												<div class="form-group">
													<label for="confirm_password">Confirm Password</label>
													<input type="password" class="form-control" name="confirm_password" required>
												</div>
												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
												</div>
											</form>
											<!-- /Change Password Form -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static "/assets/js/jquery.min.js" %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static "/assets/js/popper.min.js" %}"></script>
		<script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" %}"></script>
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static "/assets/js/script.js" %}"></script>
		
	</body>

<!-- doccure/change-password.html  30 Nov 2019 04:12:18 GMT -->
</html>