{% load static %}
{% include "includes/doc_header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reschedule Appointment</title>
</head>
<body>
        <div class="col-xl-6 d-flex">
            <div class="card flex-fill">
                
                <div class="card-header">
                    <h4 class="card-title">Reschedule Appointment</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="new_date">New Date:</label>
                            <div class="col-lg-9">
                                <input type="date" id="new_date" name="new_date" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label" for="new_time">New Time:</label>
                            <div class="col-lg-9">
                                <select id="new_time" name="new_time" required class="form-control">
                                    <option value="" selected disabled>Select Time</option>
                                    <option value="8:00am">8:00 AM</option>
                                    <option value="8:30am">8:30 AM</option>
                                    <option value="8:30am">9:00 AM</option>
                                    <option value="8:30am">9:30 AM</option>
                                    <option value="8:30am">10:00 AM</option>
                                    <option value="8:30am">10:30 AM</option>
                                    <!-- Add more time options here -->
                                </select>
                            </div>
                        </div>
                        
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Reschedule</button>
                        </div>
                    </form>
                </div>
                {% if messages %}
									<div class="messages">
										{% for message in messages %}
											<h4 class="{{ message.tags }}">{{ message }}</h4>
										{% endfor %}
									</div>
								{% endif %}
            </div>
        </div>
    <div>
    

</body>
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static '/assets/js/popper.min.js' %}"></script>
		<script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static '/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static '/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Circle Progress JS -->
		<script src="{% static '/assets/js/circle-progress.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static '/assets/js/script.js' %}"></script>
		
	</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>
