{% load static %}

		
		
{% include 'includes/doc_header.html' %}
		
						
						<div class="col-md-7 col-lg-8 col-xl-9">
						 
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Schedule Timings</h4>
											<div class="profile-box">
												<div class="row">
												</div>     
												<div class="row">
													<div class="col-md-12">
														<div class="card schedule-widget mb-0">
															<!-- Schedule Header -->
															<div class="schedule-header">
																<!-- Schedule Nav -->
																<div class="schedule-nav">
																	<ul class="nav nav-tabs nav-justified">
																		
																		{% if messages %}
																<h6 class="messages">
																  {% for message in messages %}
																	<h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
																  {% endfor %}
																</h6>
															  {% endif %}
																		
																	</ul>
																</div>
																<!-- /Schedule Nav -->
																
															</div>
															<!-- /Schedule Header -->
															<div class="modal fade custom-modal" id="add_time_slot">
																<div class="modal-dialog modal-dialog-centered">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title">Add Time Slots</h5>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<form method="POST" action="{% url 'schedule_timings' %}">
																				{% csrf_token %}
																				<div class="hours-info">
																					<div class="row form-row hours-cont">
																						<div class="col-12 col-md-6">
																							<div class="form-group">
																								<label>Start Time</label>
																								<input type="time" class="form-control" name="start_time" required>
																							</div>
																						</div>
																						<div class="col-12 col-md-6">
																							<div class="form-group">
																								<label>End Time</label>
																								<input type="time" class="form-control" name="end_time" required>
																							</div>
																						</div>
																					</div>
																				</div>
															
																				<div class="submit-section text-center">
																					<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
																				</div>
																			</form>
																		</div>
																	</div>
																</div>
															</div>
															<!-- Schedule Content -->
															<div class="tab-content schedule-cont">
															
																<!-- Monday Slot -->
																<div id="slot_monday" class="tab-pane fade show active">
																	<h4 class="card-title d-flex justify-content-between">
																		<span>Time Slots</span> 
																	</h4>
																	
																	<!-- Slot List -->
																	<div class="col-md-12">
																		<form action="{% url 'schedule_timings' %}" method="POST">
																			{% csrf_token %}
																		<div class="form-row">
							 
																			<div class="col-md-3 mb-3">
																				<label for="">From</label>
																				<select class="form-control" name="time_from" id="time_from">
																					<option selected="true" disabled="disabled">Time From</option>
																					{% for key, value in fromTimeChoice.items %}
																						<option value="{{key}}">{{value}}</option>
																					{% endfor %}
																					
																				</select>
																			</div>
																			<div class="col-md-3 mb-3">
																				<label for="">To</label>
																				<select class="form-control" name="time_to" id="time_to">
																					
																					<option selected="true" disabled="disabled">Time to</option>
																					{% for key, value in toTimeChoice.items %}
																						<option value="{{key}}">{{value}}</option>
																					{% endfor %}
																				</select>
																			</div>
																			<div class="col-md-3 mb-3">
																				<label for="">Date</label>
																				<input type="date" class="form-control" name="appointment_date">
																			</div>
																			<div class="col-md-2" style="margin-top: 35px;">
																				<button type="submit" class="btn btn-primary submit-btn ">Save</button>
																			</div>
																		</div>
																		</form>
																	</div>
																	<!-- /Slot List -->
																</div>
															</div>
															<!-- /Schedule Content -->
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static '/assets/img/logo.png' %}" alt="logo">
									</div>
									
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
		<script src="{% static "/assets/js/jquery.min.js" %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static "/assets/js/popper.min.js" %}"></script>
		<script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" %}"></script>
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static "/assets/plugins/select2/js/select2.min.js" %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static " /assets/js/script.js" %}"></script>
		
	</body>

<!-- doccure/schedule-timings.html  30 Nov 2019 04:12:09 GMT -->
</html>