{% load static %}		
{% include 'includes/doc_header.html' %}
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="row">
								<div class="col-sm-12">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Schedule Timings</h4>
											<div class="profile-box">
												<div class="row">
												</div>     
												<div class="row">
													<div class="col-md-12">
														<div class="card schedule-widget mb-0">
															<!-- Schedule Header -->
															<div class="schedule-header">
																<!-- Schedule Nav -->
																<div class="schedule-nav">
																	<ul class="nav nav-tabs nav-justified">
																		
																		{% if messages %}
																<h6 class="messages">
																  {% for message in messages %}
																	<h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
																  {% endfor %}
																</h6>
															  {% endif %}
																		
																	</ul>
																</div>
																<!-- /Schedule Nav -->
																
															</div>
															
															<!-- Schedule Content -->
															<div class="tab-content schedule-cont">
															
																<!-- Monday Slot -->
																<div id="slot_monday" class="tab-pane fade show active">
																	<h4 class="card-title d-flex justify-content-between">
																		<span>Time Slots</span> 
																	</h4>
																	
																	<!-- Slot List -->
																	<div class="col-md-12">
																		
																		<form action="{% url 'schedule_timings' %}" method="POST">
																		{% csrf_token %}
																		<label for="date">Select Date:</label>
																		<input type="date" id="date" name="date" min="{{ max_date }}" required><br><br>																		<input type="checkbox" id="slot1" name="slots" value="8:00am-8:30am">
																		<label for="slot1">8:00am - 8:30am</label><br>
																		
																		<input type="checkbox" id="slot2" name="slots" value="8:30am-9:00am">
																		<label for="slot2">8:30am - 9:00am</label><br>
																		<input type="checkbox" id="slot3" name="slots" value="9:00am-9:30am">
																		<label for="slot3">9:00am - 9:30am</label><br>
																		<input type="checkbox" id="slot4" name="slots" value="9:30am-10:00am">
																		<label for="slot4">9:30am - 10:00am</label><br>
																		<input type="checkbox" id="slot5" name="slots" value="10:00am-10:30am">
																		<label for="slot5">10:00am - 10:30am</label><br>
																		<input type="checkbox" id="slot6" name="slots" value="10:30am-11:00am">
																		<label for="slot6">10:30am - 11:00am</label><br>
																		<input type="checkbox" id="slot7" name="slots" value="11:00am-11:30am">
																		<label for="slot7">11:00am - 11:30am</label><br>
																		<input type="checkbox" id="slot8" name="slots" value="2:30pm-3:00pm">
																		<label for="slot8">2:30pm - 3:00pm</label><br>
																		<input type="checkbox" id="slot9" name="slots" value="3:00pm-3:30pm">
																		<label for="slot9">3:00pm - 3:30pm</label><br>
																		<input type="checkbox" id="slot10" name="slots" value="3:30pm-4:00pm">
																		<label for="slot10">3:30pm - 4:00pm</label><br>
																		<!-- Add more time slots here -->
																		
																		<br>
																		<button type="submit" class="btn btn-success">Add</button>
																	</form>
																		
																		
																
																		
																	</div>
																	<!-- /Slot List -->
																</div>
															</div>
															<!-- /Schedule Content -->
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static '/assets/img/logo.png' %}" alt="logo">
									</div>
									
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->


		
		<script src="{% static "/assets/js/jquery.min.js" %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static "/assets/js/popper.min.js" %}"></script>
		<script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" %}"></script>
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static "/assets/plugins/select2/js/select2.min.js" %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static " /assets/js/script.js" %}"></script>
		
	</body>

<!-- doccure/schedule-timings.html  30 Nov 2019 04:12:09 GMT -->
</html>