{% load static%}
{% include 'includes/doc_header.html' %}

<style>
	.toggle-button {
		cursor: pointer;
	}
	.slots {
		display: none;
	}
	.slots.active {
		display: block;
	}
</style>
<div class="col-md-7 col-lg-8 col-xl-9">
	<div class="appointments">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Scheduled Slots</h4>
					{% if messages %}
					<h6 class="messages">
					{% for message in messages %}
					<h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
					{% endfor %}
					</h6>
					{% endif %}
				
								


  
		
				<!-- Time Slot -->
				<div class="card schedule-cont">
					<div class="card-body theiaStickySidebar">
						<table class="table table-hover table-center mb-0">
							<thead>
								<tr>
									<th scope="col">Details</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for appointment_date, slots in grouped_slots.items %}
								<tr>
									<td colspan="2"><h3>{{ appointment_date }}</h3></td>
								</tr>
								{% for slot in slots %}
								<tr>
									<td>{{ slot.from_to }}</td>
									<td>
										<a href="{% url 'edit_slot' slot.id %}" class="btn btn-sm btn-outline-primary btn-lg">Edit</a>
										<a href="{% url 'delete_slot' slot.id %}" class="btn btn-sm btn-outline-danger btn-lg ml-2">Delete</a>
									</td>
								</tr>
								{% endfor %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				
				<!-- /Time Slot -->
			</div>
		</div>
	</div>
	
    <!-- /Schedule Content -->
</div>

<!-- /Schedule Widget -->


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
</div>

  
			<!-- Footer -->
		
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static '/assets/img/logo.png' %}" alt="logo">
									</div>
									
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->

	  
		<!-- jQuery -->
		<script>
			function toggleSlots(day) {
				var slots = document.getElementById(day);
				slots.classList.toggle('active');
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

		<script src="{% static "/assets/js/jquery.min.js" %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static "/assets/js/popper.min.js" %}"></script>
		<script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" %}"></script>
        <script src="{% static "/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static "/assets/plugins/select2/js/select2.min.js" %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static " /assets/js/script.js" %}"></script>
		
	</body>

<!-- doccure/schedule-timings.html  30 Nov 2019 04:12:09 GMT -->
</html>